# Genel
.DS_Store
*.log
*.pdf
*.sw?
*.env
*.sqlite3
*.db

# Python
__pycache__/
*.py[cod]
venv/

# Virtual environment
.env
venv/
.venv/

# IDE / Editor
.vscode/
.idea/
*.code-workspace

# Node.js
node_modules/

# Paket yönetimi cache'leri
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
